.success-checkmark {
    width: 90px;
    height: 105px;
    margin: 0 auto;
    overflow: hidden;
    
    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 5px solid #00ab55;
        
        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 9s ease-in;
        }
        
        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: #FFFFFF;
            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color: #00ab55;
            display: block;
            position: absolute;
            z-index: 10;
            
            &.line-tip {
                top: 46px;
                left: 10px;
                width: 26px;
                transform: rotate(45deg);
                animation: icon-line-tip 1.5s;
            }
            
            &.line-long {
                top: 38px;
                right: 10px;
                width: 48px;
                transform: rotate(-45deg);
                animation: icon-line-long 1.5s;
            }
        }
        
        .icon-circle {
            top: -5px;
            left: -5px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 5px solid #00ab5580;
        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: #FFFFFF;
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 18px;
        left: 18px;
        top: 49px;
    }
    100% {
        width: 26px;
        left: 10px;
        top: 46px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 56px;
        right: 2px;
        top: 35px;
    }
    100% {
        width: 48px;
        right: 10px;
        top: 38px;
    }
}